* {
  /* Resets margins and padding and box-sizing will make it so that any element with margin/padding will include that
  margin/padding in their width/height */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header{
  width: 100%;
  height: 175px;
  background-color: #a49ca4;
  color: #f6f6ee;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
}
.navbar{
  width: 100%;
  height: 50px;
  background-color: #4a524a;
  color: #f6f6ee;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-color: #f6f6ee;
}

.body{
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.subtitle {
  color: white;
  font-weight: bolder;
}

.navtitle {
  text-decoration:none;
  color:#f6f6ee;
  font-weight: bolder;
}